/* 
    Created on : 18-Feb-2023, 17:03:00
    Author     : Bak <@student.cct.ie>
*/
/*
NOTE . is for class # is for id
*/
/* ROOT */
html {
    /*
    fixed height to viewport size to allow background image to cover page
    with no repetition 
    */
    height: 100vh;
    font-family: cambria;
    /*font-size: 1.5rem;*/
    /*text-align: center;*/
    color: white;
}
h1{

}
body{
    display: flex; /* adapts content to viewport, plus allows to use justify-content */
    background-image: url("https://i.imgur.com/JYQBHvb.jpeg");
    background-size: cover;
    /*margin:0;*/ /*removes borders*/
    justify-content: center; /*centers children (.main-container), requires flex*/
}
/*
SIDEBAR
*/
aside{
    position: fixed;  /* allows overlapping */
    width: 0.33rem; /* width of the default body margin*/
    height: calc(100vh - 0.67rem); /* max height */
    left:0; /* moves sidebar outside default body margin */
    overflow:hidden; /* cut text */
    /*background-color: greenyellow;*/ /*invisible*/
    z-index:1;
}
.sidecontent{
    display: none; /* hide side content by default */
}
aside:hover > .sidecontent{
    display: block; /* display side content when hovering sidebar */
    height: 100vh; /* display background color along the screen height */
    background-color: darkslategray;
}
.sidecontent ul {
    text-align: left;
}
ul{
    padding: 1rem; /*removes list indentation*/
    list-style: none; /*removes bullet points*/
    font-weight: bold;
    color: greenyellow;
}
li a{
    text-decoration: none; /*removes underline from links*/
}

/*
MAIN
*/
.main-container{
    width: 60rem; 
    /*margin:auto;*/
    /*width: calc(100% - 6rem);*/
}

/*
HEADER
*/
header
{
    background-color: darkslategray;
    font-size: 2rem;
}

/*
Absolute positioning requires parent to be declared non-static.
This can be done by declaring the parent position relative
https://www.w3.org/TR/css-position-3/#absolute-positioning-containing-block
*/
#background{
    /*overflow:auto;*/
    position:absolute; /* see note above */
    height: 100%; /* required for empty div */
    width: 100%; /* required for empty div */
    background-image: url("https://i.imgur.com/jvOBuje.jpg");
    background-repeat: no-repeat;
    filter:brightness(50%); /* darkens image, div should be empty */
    background-size: 100%; /* stretches width to container size (height is the second parameter, default is auto) */
    z-index: -1; /* place behind */
}
/*
INDEX CONTENT
*/
#static{
    position: relative; /* required for background absolute positioning */
}
#static>section{
    max-width: 100%;
    overflow-x:auto; /* enable horizontal scroll if necessary */
}

#mytable{
    margin:auto;
    background-color: darkslategray;
}
th, td{
    border:groove;
    text-align: justify;
}
/*
MOVIE PAGE CONTENT
*/
#dynamic{
    display: grid;
    /*grid-template-columns: auto auto;*/
    position: relative; /* required for background absolute positioning */
}
/* reserved for grid tweaks on sections */
#dynamic section:nth-of-type(1){grid-row: 1/3;}
#dynamic section:nth-of-type(2){}
#dynamic section:nth-of-type(3){}
#dynamic section:nth-of-type(4){grid-column: 1/3;} 

img{
    max-width: 100%;
    /*note: img are inline elements 
    and they dont touch the bottom of the container*/
    vertical-align:sub; /* REMOVES DESCENDER SPACE*/
}
article{
    text-align: justify;
}
/*
iframe section, responsive
*/
#iframe-container{
    position:relative;
    width: 100%;
    padding-top: 56.25%; /* that's 16/9 ratio */
}
iframe{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
/*
FOOTER
*/
#booking{
}
footer{
    background-color: darkslategray;
}
/*
   RESPONSIVE DESIGN
*/
@media (max-width: 560px) {
    #mytable, #description{
        font-size: 3.5vw; /*text size proportional to viewport width*/
    }
    #dynamic{
        display:block;
    }
    section > img{
        display: none;
    }
    #description{
        padding-top: 4rem;
    }
}

/*.column{
     vh = browser window height in % 
     rem = size of a large character 
    height: calc(100vh - 4.2rem);
    overflow:auto;
}*/
/*#dynamic > section{

    top:0;
    max-width: calc(100% / 3); it's just 33.33%
    object-fit:scale-down;
}*/
/*@media (max-width: 975px) {
    .main-container {
        width:100%;
    }
}*/