/* 
    Created on : 18-Feb-2023, 17:03:00
    Author     : Bak <@student.cct.ie>
*/
/*
NOTE 
    . - class selector
    # - id selector
    > child selector
    (*) any selector
*/
/*
Hidden class will be used to manage dynamic content
*/
.hidden {display: none !important;}
/*
Font Import
*/
@font-face {
    font-family: 'Exo';
    src: url(https://fonts.gstatic.com/s/exo/v20/4UaZrEtFpBI4f1ZSIK9d4LjJ4lM3OwRmOw.woff2) format('woff2');
}
/*Header Styles*/
h2{
    padding-top: 0.5rem;
    margin-top: 0;
}
h4{margin:0;}
/*
ROOT
*/
html {
    /*
    fixed height to viewport size to allow background image to cover page
    with no repetition 
    */
    height: 100vh;
    font-family: 'Exo',Cambria, Georgia;
    font-size: 1.5rem;
    text-align: center;
    color: white;
}
body{
    display: flex; /* makes width spacing responsive, plus allows the use of justify-content */
    background-image: url("https://i.imgur.com/JYQBHvb.jpeg");
    background-size: cover; /* image covers whole container, it may be cut */
    /*margin:0;*/ /*removes extreme borders*/
    justify-content: center; /*centers children (.main-container), requires flex*/
}
/*
SIDEBAR
*/
aside{
    border-radius:1rem;
    position: fixed;  /* allows overlapping */
    width: 0.33rem; /* width of the default body margin*/
    height: calc(100vh - 0.67rem); /* max height */
    left:0; /* moves sidebar outside default body margin */
    overflow: hidden;  /*cut text*/
    /*white-space: nowrap;*/
    background-color: rgba(0,0,0,0); /*invisible, not required*/
    z-index:1;
}
.sidecontent{display: none;} /* hide content when sidebar is closed */
aside:hover > .sidecontent{
    display: block; /* display side content when hovering sidebar */
    height: 100vh; /* display background color along the screen height */
    background-color: darkslategray;
}
.sidecontent > ul {text-align: left;}
ul{
    padding: 1rem; /*removes list indentation*/
    list-style: none; /*removes bullet points*/
    /*font-weight: bold;*/
}
li > a{
    /*text-decoration: none;*/ /*removes underline from links*/
    color:white;
}

/*
MAIN
*/
.main-container{
    width: 50rem;
    max-width:100%;
    /*margin:auto;*/
    /*width: calc(100% - 6rem);*/
}

/*
HEADER
*/
header{font-size: 2rem;}
header, footer{
    /* -> transparent to color to transparent*/
    background-image: linear-gradient(to right, rgba(0,0,0,0), darkslategray, rgba(0,0,0,0));
}
nav{
    display:flex;
    justify-content: space-evenly;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
}

button, input, select{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom:0.25rem;
    padding-top:0.25rem;
    font-size: 1rem;
    /*margin:0.2rem;*/
}
input{
    border-radius: 1rem;
}
button{
    border-radius:1rem;
    cursor: pointer; /*changes cursor to a hand*/
    background-color:darkslategray;
    color: white;
    /*margin: 1rem;*/
    transition:0.5s; /*shrink button animation*/
    overflow:hidden;  /*confines shiny animation*/ 
    position:relative; /* for absolute positioning of the shiny animation */
}
button:hover{
    padding-right:2.5rem;
    transition:0.5s; /*widen button animation*/
    position:relative;
}
button:after{
    content:"\00a0>>"; /* \00a0 stands for non-breaking space */
    position:absolute; /*ignore item for the button size*/
    opacity:0;
    transition:0.2s; /*transparency animation*/
}
button:hover:after{
    opacity:1;
    transition:0.8s; /*opacity animation*/
}
/* Shiny Button Frame */
#bookbutton:before {
    position: absolute; /* overlap parent */
    content: ''; /* create container */
    top: -1rem; /* vertical repositioning */
    left: -1rem; /* horizontal repositioning */
    width: 25%;
    height: 50%;
    background-color: white;
    animation: shiny 2.5s infinite; /* keyframe call */
}
/* Animation (made in 3 stages to speed it up) */
@keyframes shiny {from { /* time=0 */}
    85% { /* frame positioning */
        transform: rotate(-30deg); /* rotate counterclockwise */
        opacity: 1; /* keep its opacity to 1 */
    }
    to { /* frame trigger */
        transform: rotate(-30deg) scale(18);
        opacity: 0;
    }
}

/*
INDEX CONTENT
*/
/*#static > section{
    max-width: 100%;
    overflow-x:auto;  enable horizontal scroll if necessary 
}*/
/*
MOVIE PAGE CONTENT
*/
/*
Absolute positioning requires parent to be declared non-static.
This can be done by declaring the parent position relative
https://www.w3.org/TR/css-position-3/#absolute-positioning-containing-block
*/
.dynamic:before{ /* pseudo-element, for all purposes this is a child element */
    content:""; /* activate pseudo-element */
    border-radius:1rem;
    /*overflow:auto;*/
    position:absolute; /* see note above */
    left: 0; /* centers the absolute pseudo-element, cannot be done with margin:auto; */
    height: 100%; /* required for empty div */
    width: 100%; /* required for empty div */
    background-image: url("https://i.imgur.com/jvOBuje.jpg");
    background-repeat: no-repeat;
    filter:brightness(50%); /* darken image, div should be empty */
    background-size: 100%; /* stretch width to container size (height is the second parameter, default is auto) */
    z-index: -1; /* place behind */
}
.dynamic{
    display: grid;
    /*gap: 1rem;*/
    /*grid-auto-columns: fit-content;*/
    /*grid-template-columns: auto auto;*/
    position: relative; /* required for background absolute positioning */
}
/* reserved for grid tweaks on sections */
.dynamic > *:nth-child(1){ /* among all elements child of the dynamic class, take the first */
    grid-column: 1/3; /* witdh extension (2) of the first section (title) */
}
.dynamic > *:nth-child(2){ /* another way to say the second section */
    grid-row: 2/5; /* height extension (3) of the second section (image) */
}

/* Listing */
.filter{
    margin-top:1rem;
    margin-bottom:1rem;
}
#mytable{
    overflow: auto;
    margin:auto;
    /*background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));*/
    background-color: rgba(0,0,0,0.5);
    /**/
    border:groove;
    /*border: 1px solid silver;*/
    /*border-left-width: 0;*/
    /*border-collapse: separate;*/
    /*border-spacing: 0;*/
    border-radius: 1rem;
}
tr:not(#rowheader):hover{ /* selects table rows that dont have the rowheader id  and applies the style on mouse hovering */
    cursor:pointer;
    background-color: darkslategray;
}

th, td{
    padding:0.25rem;
    border:groove;
}
th{text-align:center;}
th:first-child{border-radius: 0.85rem 0 0 0;}
th:last-child{border-radius:0 0.85rem 0 0;}

td{text-align: justify;}
tr:last-child > td:first-child{border-radius:0 0 0 0.85rem;}
tr:last-child > td:last-child{border-radius:0 0 0.85rem 0;}

.image-container{
    /*display:flex;*/
    /*align-items: end;*/
    /*padding-left: 1rem;*/
}
img{
    border-radius:1rem;
    max-width: 100%; /* prevents the image to show in its natural size */
    /*height:100%;*/
    /*note: img are inline elements and they dont touch the bottom of the container*/
    /*vertical-align:sub; */ /* REMOVES DESCENDER SPACE*/
}
article{
    text-align: justify;
    padding: 1rem
}
/*
booking section
*/
.booking{padding:1rem;}
.booking > form{
    visibility: hidden; /* small tweak while i figure out a page loader */
    display:grid;
    padding: 1rem;
    gap:1rem; /* spacing between grid elements */
    /* grid-template-columns: 35%;*/
    align-items:center;
    position:fixed; /* position relative to root instead of parent */
    width:75vw;
    height:75vh;
    left: 50%; /* half screen width distance */
    top: 50%; /* half screen height distance */
    transform: translate(-50%, -50%); /* move up and left half the size of the element*/
    background-color: slategray;
    border-style: ridge;
    border-color: darkslategray;
    z-index:1;
}
.booking > form > *:nth-child(1){width:7rem;}
.booking > form > *:nth-child(2){width:7rem;}
.booking > form > *:nth-child(3){width:7rem;}
.booking > form > *:nth-child(5){
    /*min-width:6rem;*/
    grid-column: 2; /* place element in the right column */
    grid-row: 1/6; /* element spans throught entire column */
}
/*
iframe section, responsive
*/
.video{
    overflow: hidden;
    padding-top:12.77%; /* title height size (might need a fix) */
    /*max-width: 100%;*/
}
.iframe-container{
    position:relative;
    /*width: 100%;*/
    height:45%;
    padding-top: 56.25%;  /*that's 16/9 ratio*/ 
    top:-45%;
}
iframe{
    border:none;
    border-radius: 0 0 1rem 1rem;
    position: absolute; /*out of flow*/
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

/*
   RESPONSIVE DESIGN
*/
@media (max-width: 590px) {
    #mytable, .description, button:not(#bookbutton), input, select{font-size: 3.5vw;} /*text size proportional to viewport width*/
    .booking > form > *:nth-child(5){grid-column:1;}
    .dynamic{
        display:block;
        margin-top: 0;
    }
    .image-container{display: none;}
    .description{padding-top: 4rem;}
}

/*.column{
     vh = browser window height in % 
     rem = size of a large character 
    height: calc(100vh - 4.2rem);
    overflow:auto;
}*/
/*.dynamic > section{

    top:0;
    max-width: calc(100% / 3); it's just 33.33%
    object-fit:scale-down;
}*/
/*@media (max-width: 975px) {
    .main-container {width:100%;}
}*/